form {
  display: flex;
  padding: 10px;
}

.input {
  margin-right: 10px;
}

.App {
  display: flex;
  justify-content: flex-start;
  color: black;
  text-decoration: none;
}

.text div {
  display: flex;
  justify-content: flex-start;
  justify-content: center;
}
